:root {
  --accent-color: #4d5ae5;
  --main-color: #2e2f42;
  --second-color: #434455;
  --white-color: #ffffff;
  --cloud-color: #f4f4fd;
  --cornflover-color: #e7e9fc;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
}
/* Утилиты */
ul {
  padding: 0;
  margin:0;
}
h1,h2,h3,p {
  margin:0;
}
.image {
  display: block;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding-left: 12px;
  padding-right: 12px;
}
.no-decor {
  text-decoration: none;
}
.no-style-type {
  list-style-type: none;
}
/* Шапка */
.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}
.logo-accent {
  display: inline-block;
  margin-right: 77px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}
.link-nav {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.link-nav:hover {
  color: var(--second-color);
}
.link-nav:focus {
  color: var(--second-color);
}
.link-nav:active {
  color: var(--accent-color);
}
.social-list {
  display: inline-block;

    font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
.social-list:first-child {
  margin-right: 40px;
}

}
.social-list:hover {
  color: var(--accent-color);
}
.social-list:focus {
  color: var(--accent-color);
}
/* Герой */
.hero {
  background-color: var(--main-color);
}
.hero-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
  
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--accent-color);
  border: none;
  cursor: pointer;
}
.hero-btn:active {
  background: #404bbf;
}
/* Преимущества */
.subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
/* Продукт */
.title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/* Команда */
.team {
  background-color: var(--cloud-color);
}
/* Футер */
.footer {
  background-color: var(--main-color)
}
.logo-accent-white {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud-color);
}
.text-white {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cornflover-color);
}

/* Страница портфолио */
/* Фильтры */
.filters-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background-color: var(--cornflover-color);
  border: none;
  cursor: pointer;
}
.filters-btn:hover {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.filters-btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.text-cloud {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud-color);
  background-color: var(--accent-color);
}
